---
import BlogPostCard from '$/components/blog-post-card.astro';
import Footer from '$/components/footer.astro';
import Hero from '$/components/hero.astro';
import Skeleton from '$/layouts/skeleton.astro';
import { cn } from '$/lib/cn';
import { getPageNumbers, POSTS_PER_PAGE } from '$/lib/get-page-numbers';
import { slugify } from '$/lib/slugify';
import { ArrowLeft, ArrowRight } from '@lucide/astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog', ({ data }) => !data.draft);

const sortedPosts = posts.sort(
  (a, b) =>
    Math.floor(new Date(b.data.publishedAt).getTime() / 1000) -
    Math.floor(new Date(a.data.publishedAt).getTime() / 1000)
);

const pageNumbers = getPageNumbers(sortedPosts.length);
const paginatedPosts = sortedPosts.slice(0, POSTS_PER_PAGE);

let currentPage: number = 1;
---

<Skeleton title="Blog" description="Index page of the blog, containing most recent articles, categories, etc.">
  <Hero>
    <span slot="heading">Blog</span>
    <span slot="content">Every article that I've posted, until now.</span>
  </Hero>
  <div class={cn('my-4', 'flex', 'flex-col', 'gap-4')}>
    {paginatedPosts.map((p) => <BlogPostCard href={`/blog/${slugify(p.data.title)}`} frontmatter={p.data} />)}
    {
      pageNumbers.length > 1 && (
        <nav class={cn('mt-auto', 'flex', 'justify-center')} aria-label={'Pagination'}>
          <a
            href={currentPage > 1 ? '#' : `/posts${currentPage - 1 !== 1 ? `/${currentPage - 1}` : ''}`}
            class={cn(
              'hover:text-accent',
              'font-semibold',
              'hover:cursor-pointer',
              'mx-2',
              currentPage === 1 && 'pointer-events-none',
              currentPage === 1 && 'text-primary/50',
              'select-none',
              'inline-flex',
              'items-center',
              'gap-1'
            )}
          >
            <ArrowLeft class={cn('size-4')} />
            Previous
          </a>
          <a
            href={currentPage < pageNumbers.length ? `/posts/${currentPage + 1}` : '#'}
            class={cn(
              'hover:text-accent',
              'font-semibold',
              'hover:cursor-pointer',
              'mx-2',
              currentPage === pageNumbers.length && 'pointer-events-none',
              currentPage === pageNumbers.length && 'text-primary/50',
              'select-none',
              'inline-flex',
              'items-center',
              'gap-1'
            )}
          >
            Next
            <ArrowRight class={cn('size-4')} />
          </a>
        </nav>
      )
    }
  </div>
  <Footer slot={'footer'} marginTop={!(pageNumbers.length > 1)} />
</Skeleton>
