@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-light: #4c4f69;
  --bg-light: #eff1f5;

  --text-dark: #c1c1c1;
  --bg-dark: #1a1a1a;

  --accent: #fe640b;
}

@theme inline {
  --color-*: initial;

  --font-mono: 'Iosevka', monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary: var(--text);
  --color-secondary: var(--bg);
  --color-accent: var(--accent);
}

@layer base {
  :root {
    --text: var(--text-light);
    --bg: var(--bg-light);
    --accent: var(--accent);

    @variant dark {
      --text: var(--text-dark);
      --bg: var(--bg-dark);
    }
  }

  #sun-icon,
  html[data-theme='dark'] #moon-icon {
    display: none;
  }
  #moon-icon,
  html[data-theme='dark'] #sun-icon {
    display: block;
  }
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
