@import 'tailwindcss';

@font-face {
  font-family: Lato;
  src: url('/fonts/lato/lato-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('/fonts/lato/lato-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('/fonts/lato/lato-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Alegreya;
  src: url('/fonts/alegreya/alegreya-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Alegreya;
  src: url('/fonts/alegreya/alegreya-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Alegreya;
  src: url('/fonts/alegreya/alegreya-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka/iosevka-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka/iosevka-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Iosevka;
  src: url('/fonts/iosevka/iosevka-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --content: #c1c1c1;
  --subtext: #505050;
  --core: #000000;
  --mantle: #0d0d0d;
  --crust: #1a1a1a;

  --accent: #5f8787;
}

@theme inline {
  --color-*: initial;

  --font-sans: 'Lato', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Alegreya', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Iosevka', monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-content: var(--content);
  --color-subtext: var(--subtext);
  --color-core: var(--core);
  --color-mantle: var(--mantle);
  --color-crust: var(--crust);

  --color-accent: var(--accent);
}
