---
import Skeleton from '$layouts/skeleton.astro';
---

<Skeleton
  title="About"
  description="This page briefly introduces the author and purpose of the blog, explaining who's behind it, what it's about, and why readers should care."
>
  <h1>About</h1>
</Skeleton>
