---
import BaseHead from '$components/base-head.astro';
---

<html lang="en">
  <head>
    <BaseHead
      title="About"
      description="This page introduces the author with a brief bio, including background, interests, and profession. It explains the purpose of the blog—what topics are covered and why the author writes it."
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>About</h1>
  </body>
</html>
