---
import { cn } from '$lib/cn';
import NavLink from '$components/nav-link.astro';
---

<header class={cn('m-0', 'px-4', 'bg-crust', 'shadow-md', 'bg-mantle')}>
  <nav class={cn('flex', 'items-center', 'justify-between')}>
    <h1
      class={cn(
        'm-0',
        'text-base',
        'font-serif',
        'capitalize',
        'text-3xl',
        'font-bold',
        'hover:text-accent',
        'transition-colors'
      )}
    >
      <a class={cn('no-underline')} href="/">{import.meta.env.PUBLIC_APP_TITLE}</a>
    </h1>
    <div>
      <input class={cn('bg-crust', 'border-core', 'px-4', 'py-2')} />
    </div>
    <div class={cn('flex', 'gap-1')}>
      <NavLink href="/">Home</NavLink>
      <NavLink href="/about">About</NavLink>
      <NavLink href="/blog">Blog</NavLink>
    </div>
  </nav>
</header>
